/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Darker background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
  }
  
  .modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px; /* Limiting max width */
    text-align: center;
    position: relative;
    max-height: 80vh; /* Limit height of modal to viewport */
    overflow-y: auto; /* Allow scrolling if content is long */
  }
  
  .movie-detail-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .close-btn {
    background-color: #ffcc00;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1050; /* Ensure it's above the content */
  }
  
  .close-btn:hover {
    background-color: #ff9900;
  }
  